.input-box {
  display: flex;
  flex-direction: column;
}
form{
  padding: 16px 16px;
}

.rating {
    margin-top: 8px;
    margin-left: 12px;
    min-height: 30px;
  }

  .rating mat-icon {
    color: gold;
  }