/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
    flex: 1 1 auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 32px;
    margin-top: 64px;
}
.box {
    text-align: center;
    padding: 16px;
}