input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.dialog {
    width: 600px;
}
div, form{
    padding: 16px 32px;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row mat-form-field {
    width: 100%;
}

.right-align {
    text-align: right;
}

@media screen and (max-width: 800px) {
    .dialog {
        width: 380px;
    }
}