<div class="box">
    <div class="inputs">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input
            [(ngModel)]="filter.query"
            (ngModelChange)="filterChanged()"
            matInput
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Start date</mat-label>
          <input
            [(ngModel)]="filter.startDate"
            (ngModelChange)="startDateChange()"
            [min]="minStartDate"
            [max]="maxDate"
            matInput
            [matDatepicker]="startDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>End date</mat-label>
          <input
            [(ngModel)]="filter.endDate"
            (ngModelChange)="endDateChange()"
            [min]="minEndDate"
            matInput
            [matDatepicker]="endDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Countries</mat-label>
          <mat-select [(ngModel)]="filter.countries" (ngModelChange)="filterChanged()" multiple>
            <mat-option *ngFor="let c of countries" [value]="c | lowercase">{{c}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <!-- <div class="costRange">
          <div class="costRange">
              <label for="reversed">{{filter.minCost}}</label>
              <input name="reversed" class="reversed" type="range" [min]="minCost" [max]="filter.maxCost" [(ngModel)]="filter.minCost" />
              <input name="normal" type="range" [min]="0" [max]="maxCost" [(ngModel)]="filter.maxCost" />
              <label for="normal">{{filter.maxCost}}</label>
            </div>
      </div> -->
      
      <button class="clearBtn" mat-raised-button color="primary" (click)="clearFilters()">
          Clear filters
        </button>
      
</div>

